@import url('https://fonts.googleapis.com/css?family=Dhurjati&display=swap');

:root {
  --red-background: #ffe5e5;
  --input-padding: 0.5rem;
  --input-border-width: 2px;
}

* {
  color: black;
  
  font-family: 'Dhurjati';
}

a {
  color: #0563c7;
}

body {
  padding-bottom: 1rem;
  
  font-weight: 30;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
}

#main-sections {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
}

#not-logged-in-main {
  padding-left: 2rem;
  padding-right: 2rem;
}

#flashed-messages {
  display: block;
}

#page-nav {
  width: fit-content;
  height: fit-content;
  background: #ededed;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}

@media (max-width: 700px) {
  #page-nav {
    white-space: wrap;
  }
  .nav-link-container {
    padding-left: 1rem;
    text-indent: -1rem;
  }
}

#page-content {
  max-width: 50rem;
  margin: auto;
  margin-top: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

div.page-section {
  display: block;
  border: 2px solid;
  border-radius: 1rem;
  padding: 2rem;
}

div.page-section + div.page-section {
  margin-top: 1rem;
}

div.page-nav-section + div.page-nav-section {
  margin-top: 0;
  border-top: 2px solid;
}

.flashed-message {
  border: 2px solid red;
  background: var(--red-background);
  text-align: center;
  margin-bottom: 0.5rem;
}

table {
  margin: auto;
}

table, tr {
  border-collapse: collapse;
  border: 2px solid;
}

table.bordered-cells td, table.bordered-cells th {
  border: 2px solid;
}

td, th {
  padding: 1rem;
  text-align: center;
}

th {
  background: lightgray;
}

input, button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

input {
  padding: var(--input-padding);
  border-width: var(--input-border-width);
}

button[type="submit"] {
  margin-top: 1rem;
  display: block;
  width: 100%;
}

button:not([disabled]) {
  cursor: pointer;
  background: lightblue;
}

#show-hint-button {
  display: block;
  margin: auto;
}

.username-input {
  text-transform: lowercase;
}

.nav-link-container {
  display: block;
}

.challenge-link.completed {
  color: #999999;
}

#submission-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input#submission-input {
  padding: 0.5rem;
  width: calc(100% - 2 * (var(--input-padding) + var(--input-border-width)));
}

#correctness-message {
  display: block;
  text-align: center;
}

#correctness-message.correct {
  border: 2px solid #2db487;
  background: #e0ffe0;
}

#correctness-message.incorrect {
  border: 2px solid red;
  background: var(--red-background);
}

.username-entry-form {
  width: fit-content;
  margin: auto;
}

.username-entry-form > * {
  width: fit-content;
  margin: auto;
}

#alternate-sign-in-choice {
  margin-top: 1.5rem;
}
