<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teaching Security Administration Cryptography League Recruiting Assessment</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  {% block css %}
  {% endblock %}
</head>
<body>
  <div id="flashed-messages">
    {% for message in get_flashed_messages() %}
      <div class="flashed-message">{{ message }}</div>
    {% endfor %}
  </div>
  
  {% block body %}
  {% endblock %}
</body>
</html>