{% extends 'logged_in.html' %}

{% block content %}

<h1>Challenge {{ challenge_data.num }}: {{ challenge_data.name }}</h1>

<div style="margin-bottom: 1rem;">
  <div>You submitted <span id="score-number-text">{{ score }}</span> incorrect answer<span id="score-number-pluralize">{% if score != 1 %}s{% endif %}</span><span id="score-number-end-statement" {% if challenge_data.num not in completed_challenges %}style="display: none;"{% endif %}> before answering correctly</span>.</div>
  <a href="{{ url_for('challenge_leaderboard', challenge_num=challenge_data.num) }}" target="_blank">Leaderboard</a>
</div>

<div>
  <div class="page-section">
    <span>Description:</span>
    <span>{{ challenge_data.description|safe }}</span>
  </div>

  <div class="page-section">
    <span>Encrypted message:</span>
    <span>{{ challenge_data.message }}</span>
  </div>

  <div class="page-section">
    <button disabled id="show-hint-button"></button>
    
    <div id="hint-box" style="display: none;">
      <span>Hint:</span>
      <span>{{ challenge_data.hint|safe }}</span>
    </div>
  </div>
</div>

<div id="submission-box">
  <form id="challenge-submission" action="{{ url_for('submit_challenge', challenge_num=challenge_data.num) }}" method="POST">
    Enter the decoded message:
    <input name="submission" id="submission-input"></input>
  </form>
</div>

<div id="correct-reveal" style="display: none;">
  <span id="correctness-message"></span>
</div>

<script src="{{ url_for('static', filename='js/challenge.js') }}"></script>
<script>
  let challengeNum = {{ challenge_data.num }};
  let challengeIsCompleted = {{ (challenge_data.num in completed_challenges)|int }};
</script>
{% endblock %}