{% extends 'logged_in.html' %}

{% block content %}

<h1>
  Hello, {{ username }}.
</h1>

<div>
  {% if incomplete_challenges|length == 0 %}
    Congratulations! You have finished all the challenges. Keep an eye out for a recruitment letter.
  {% else %}
    You have completed {{ completed_challenges|length }} challenges, and you have {{ incomplete_challenges|length }} left to complete. It's time to get to work. Use the navigation bar on the left to select a challenge.
    <br><br>
    As you complete the challenges, remember that your number of failures is recorded, and for each challenge there is a leaderboard of people who failed least.
  {% endif %}
</div>

{% endblock %}